<div class="drawer lg:drawer-open">
  <input id="ssl-moon-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <%!-- Page content here --%>
    <div>
      <h1 class="mb-5 text-5xl font-bold text-center">
        <%= gettext("Select a Language") %>
      </h1>

      <div class="grid grid-cols-3 gap-4">
        <%= for lang <- @locales do %>
          <div class="card bordered">
            <div class="card-body">
              <%= if lang==@locale do %>
                <!-- Solid button for the currently selected language -->
                <a class="btn btn-primary me-1 mb-1" type="button" href={~p"/language/#{lang}"}>
                  <%= lang %>
                </a>
              <% else %>
                <!-- Outline button for other languages -->
                <a
                  class="btn btn-outline-primary me-1 mb-1"
                  type="button"
                  href={~p"/language/#{lang}"}
                >
                  <%= lang %>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="drawer-side lg:h-[calc(100vh-4rem)]">
    <label for="ssl-moon-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class=" p-2 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Drawer content here -->
      <.live_component module={TreeViewComponent} id="tree_view" path={@path} />
    </ul>
  </div>
</div>
