<div class="flex columns-2">
  <div class="drawer lg:drawer-open">
    <input id="ssl-moon-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex w-screen lg:w-auto">
      <%!-- Page content here --%>
      <div class="hidden lg:block">
        <.live_component id="check_list_menu" module={ChecksListComponent} domain_id={@domain.id} />
      </div>
      <div class="p-4 w-full">
        <div>
          <div class="lg:hidden collapse w-full bg-base-200 collapse-arrow">
            <input type="checkbox" />
            <div class="collapse-title">
              Check List
            </div>
            <div class="collapse-content">
              <.live_component
                id="check_list_menu_collapse"
                module={ChecksListComponent}
                domain_id={@domain.id}
              />
            </div>
          </div>
        </div>
        <div class="p-4 overflow-auto">
          <SslMoonWeb.Components.Paths.path_breadcrumb
            path={@path}
            last_path={@domain.domain_name}
          />
        </div>
        <h1>
          <%= @domain.domain_name %>
        </h1>
      </div>
    </div>
    <div class="drawer-side z-10">
      <label for="ssl-moon-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="p-2 w-80 min-h-full bg-base-200 text-base-content">
        <!-- Drawer content here -->
        <.live_component module={TreeViewComponent} id="tree_view" path={@path} />
      </ul>
    </div>
  </div>
</div>
