<header>
  <div class="navbar bg-primary text-primary-content flex justify-between">
    <label
      for="ssl-moon-drawer"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost lg:hidden"
    >
      <MaterialIcons.menu type="button" style="outlined" size={22} class="fill-white" />
    </label>
    <a class="btn btn-ghost normal-case text-xl" href={~p"/dashboards"}>
      <img src={~p"/images/small_logo_white.svg"} />SSL
      MOON
    </a>
    <div>
      <.live_component module={SearchComponent} id="search-results" />
    </div>
    <a class="btn btn-ghost text-xl" href={~p"/language/#{current_lang()}"}>
      <MaterialIcons.language type="button" style="outlined" size={42} class="fill-white" />
      <div class="hidden md:block"><%= current_lang() %></div>
    </a>
  </div>
</header>

<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
